body {
  color: white;
  text-align: center;
  vertical-align: center;
  display: inline-block;
  font-family: 'Play', sans-serif;
}

  .container {
  height: 500px;
  width: 500px;
  background-color: #000000;
  vertical-align: center;
}
#clock {
  padding-top: 250px;
  font-size: 48px;
}