@import "bourbon";
body {
  color: white;
  text-align: center;
  vertical-align: center;
  display: inline-block;
  font-family: 'Play', sans-serif;
}

h1 {
  height: 500px;
  width: 500px;
  vertical-align: center;
  @include linear-gradient(to top, pink, purple);
}
#clock {
  padding-top: 250px;
  font-size: 48px;
}